* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

body {
  min-height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  background: var(--veryDarkBlue);
}

.card {
  background: hsla(213, 19%, 18%, .75);
  border-radius: 1.5rem;
  width: 35rem;
  padding: 2.5rem;
}

.card_ratingState {
  display: grid;
  justify-items: start;
  gap: 2rem;
}

.card_ratingState-starContainer {
  background: hsla(216, 12%, 54%, .1);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 2.6rem;
  color: var(--white);
}

.paragraph {
  font-size: 1.4rem;
  color: var(--lightGrey);
  font-weight: 400;
  line-height: 1.5;
}

.card_ratingState_rateContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.card_ratingState_rateContainer-rate {
  background: hsla(216, 12%, 54%, .1);
  color: var(--lightGrey);
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.card_ratingState_rateContainer-rate:hover {
  cursor: pointer;
  background: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  transition: .3s ease;
}

.rateSelect {
  background: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

.rateSelect:hover {
  background: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

.card_ratingState-btnSubmit {
  padding: 1.5rem;
  width: 100%;
  background: var(--orange);
  border: none;
  border-radius: 4rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
  letter-spacing: .5rem;
}

.card_ratingState-btnSubmit:hover {
  transition: .3s ease;
  background: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.card_thanksState {
  display: none;
  gap: 2rem;
  justify-items: center;
  text-align: center;
}

.card_thanksState_ratingContainer {
  background: hsla(216, 12%, 54%, .1);
  color: hsla(25, 97%, 63%, .7);
  padding: 1rem;
  border-radius: 4rem;
}

.card_thanksState_ratingContainer p, .card_thanksState_ratingContainer-rating {
  font-size: 1.4rem;
}

.attribution {
  position: absolute;
  bottom: 0;
  color: hsl(217, 12%, 63%);
  text-align: center;
  width: 100%;
  font-size: 1.3rem;
}

.attribution a {
  font-size: 1.3rem;
  color: hsla(25, 97%, 63%, .7);
}